:root {
    --primary-color: steelblue;
    --secondary-color: silver;
    font-family: 'Courier New', Courier, monospace;
}
body {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

header {
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

header h1 {
    font-size: 55px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}

header ul {
    font-size: 28px;
    font-weight: bold;
    list-style: none;
    display: flex;
    flex-direction: row;
}

header li {
    padding: 20px 20px 20px 20px;
}

h2 {
    font-style: italic;
}

.about-me {
    font-size: 25px;
}

.container-about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-about img {
    border: 5px solid var(--primary-color);
}

.about-me p {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    width: 75%;
    display: flex;
    flex-direction: row;
}

.about-me h2, .projects h2, .my-experience h2 {
    border-bottom: 5px solid var(--primary-color);
}

.projects {
    font-size: 25px;
}

.container-about, .container-run-buddy, .container-horiseon {
    flex-wrap: wrap;
}

.container-run-buddy img {
    border: 5px solid var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 750px;
    height: auto;
}

.container-horiseon img {
    border: 5px solid var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 400px;
    height: auto;
}

.projects h3 {
    text-align: center;
}

.my-experience {
    font-size: 25px;
}

.container-haas img {
    border: 5px solid var(--primary-color);
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.my-experience p {
    margin-top: 50px;
    margin-left: 175px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

footer {
    border-top: 5px solid var(--primary-color);
}

@media screen and (max-width: 980px) {
   
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}