:root {
    --primary-color: steelblue;
    --secondary-color: silver;
    font-family: 'Courier New', Courier, monospace;
}
body {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

header {
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

header h1 {
    font-size: 46px;
    font-weight: bolder;
}

header ul {
    font-size: 22px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

header li {
    padding: 20px 20px 20px 20px;
}

.about-me {
    font-size: 20px;
}

.about-me h2, .projects h2, .my-experience h2 {
    border-bottom: 5px solid var(--primary-color);
}

.about-me p {
    text-align: center;
    font-weight: bold;
}

.projects h3 {
    text-align: center;
}